<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<head>
<meta charset="utf-8">
<title><%- siteData.title  %></title>
<meta name="description" content="<%- siteData.description %>">
<meta name="keywords" content="<%- siteData.keywords  %>">
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<meta name="format-detection" content="telephone=no">

<!-- OGP -->
<meta property="og:title" content="<%- siteData.title  %>">
<meta property="og:type" content="website">
<meta property="og:description" content="<%- siteData.description %>">
<meta property="og:url" content="<%- siteData.ogp.url %>">
<meta property="og:image" content="<%- siteData.ogp.image %>">
<meta property="og:site_name" content="<%- siteData.title  %>">
<meta property="og:locale" content="ja_JP">
<!-- /OGP -->

<!-- COMMON CSS -->
<link rel="stylesheet" href="<%- pageData.rootPath %>common/css/base.css" media="all">
<link rel="stylesheet" href="<%- pageData.rootPath %>common/css/common.css" media="all">
<!-- /COMMON  CSS -->

<!-- PAGE ONLY CSS -->
<% pageData.extCss.forEach(function(e, i, a){ -%>
<link rel="stylesheet" href="<%- e %>" media="all">
<% }); -%>
<!-- /PAGE  CSS CSS -->

<!--[if lt IE 9]><script src="<%- pageData.rootPath %>common/js/lib/html5shiv.min.js"></script><![endif]-->
</head>
<body class="<%= pageData.bodyClass %>">
<header id="GHead">
</header>
<!-- / #GHead -->
<div id="Contents">
